* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 3em;
}

body {
    padding: 2.5em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}